./**/.git
./**/node_modules
.git

coc
gitui
neofetch
nextjs-nodejs
yarn

configstore
TabNine
fish/fishd.*

obsidian

google-chrome
chromium

mimeapps*

FreeTube
Buttercup*
trizen
Thunar
Ferdi
yt-dlg
Ferdium
autostart
protonmail/bridge
wakapi/wakapi_db.db
simple-update-notifier
bottom
composer
htop
Code - OSS
Nextcloud
Slack
Tailscale
TradingView
discord
onlyoffice
pulse
systemd
tlpui
nautilus
nordvpn
obs-studio
cointop
pavucontrol.ini
pavucontrol.ini
python_keyring
remmina
Dynalist
Popcorn-Time
cef_user_data/Dictionaries
mps-youtube
.Xresources
zoom.conf
zoomus.conf
dconf
Code
menus
btop
Pinta
task/.jukit
spotify
task/hooks/todoist_task/
libreoffice
github-copilot
.keymapp
RedisInsight
cef_user_data
QtProject.conf
arkrc
kdeglobals
knfsshare
bin/todoist_pull
Cursor
keepassxc/keepassxc.ini
jrnl/jrnl.yaml
irust
